<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>MoveMatch</title>
  <link rel="stylesheet" href="{% static 'css/homescreen.css' %}" type="text/css">
</head>
<body>
  <div class="container">
    <h1 class="title">Welcome to MoveMatch!</h1>
    <p class="subtitle">Compare your form with a professional athlete's image for personalized analysis.</p>
    <button, class = "start_button">

    <a href="{% url 'pick_sport' %}">
        Start
    </a>
    </button>
   
</html>
